<!DOCTYPE html>
<html>
<head>
  <title>Parallel Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="" style="display:flex; justify-content: space-around;">
      <% if @user.present? %>
        <a href="/logout" style="margin-top:39px;">Logout</a>
      <% end %>
      <h1 style=""><span style="font-style: italic;"><span style="color:orange;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;l</span>Parallel Books</span></h1>
      <% if @user.present? && @on_purchase_page.present? %>
        <a style="margin-top:39px;" href="/books">My Books</a>
      <% else %>
        <a style="margin-top:39px;" href="/purchase_books">Get More Books</a>
      <% end %>
  </header><hr style="margin:0px;border-color:rgba(200,200,200,1);" />

<%= yield %>

</body>
</html>
