<!DOCTYPE html>
<html>
<head>
  <title>Parallel Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="" style="display:flex; justify-content: space-between;">
      <img alt="logo" src="./images/logo.png" height="25px" width="25px" style="">
      <a style="" href="/purchase_books">Get More Books</a>
      <h1 style=""><span style="font-style: italic;"><span style="color:orange;">l</span>Parallel Books</span><h1>
  </div>

<%= yield %>

</body>
</html>
