#listView {
   position: relative;
   width: 100%;
}

.record{
  width: 500px;
  height:220px;
  margin: auto;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.recordOutter :hover{
  background-color: rgba(200,200,200,1);
}

.bookImg{
  margin:10px;
  height:198px;
  width:140px;
}

.resultsNumber{
  margin: auto;
  width:100px;
}

#container{
  margin-top: 10px;
}

.search-query{
  width:95%;
  left:2.5%;
  position: absolute;
}

.title{
  color: #363636;
  font-size: 1vw;
  font-family: GillSans,arial,sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.author{
  color: #737373;
  font-size: 16px;
  font-family: GillSans,arial,sans-serif;
  font-weight: 400;
  margin-top: 30px;
}

.isbn{
  margin-top: 10px;
}

#custom-search-form{
  width: 100%;
}

.price{
  position: absolute;
  bottom:5px;
}

.recordLeft{
  float: left;
  background-color: inherit;
}
.recordRight{
  float: left;
  position: relative;
  height: 100%;
  background-color: inherit;
}

.recordRightBottom{
  position: absolute;
  bottom: 0px;
  background-color: inherit;
}

.bookImg{
  margin:10px;
  height:198px;
  width:140px;
}

.pdf-holder {
  height: 100%;
  width: 66%;
  max-width: 66%;
}

.notes-holder {
  height: 100%;
  width: 34%;
  max-width: 34%;
  opacity: 0.7;
  background-color: #ECE63D;
}

.full_height {
  height: 100%;
}

.top {
  z-index: 1000000;
}

#noteText {
  margin-top: 15px;
}

#newNote {
  width: 100%;
}

#privateNoteButton {
  width: 49%;
  margin-right: 1%;
}

#publicNoteButton {
  width: 49%;
  margin-left: 1%;
}

#notePlace {
  margin-top: 15px;
  list-style: none;
  height: 100%;
  overflow:hidden;
  overflow-y:scroll;
}

.items {
  background-color: silver !important;
}

.border {
  border-style: solid !important;
  border-width: medium !important;
  border-color: red !important;
}
