#listView {
   position: relative;
   width: 100%;
}

.record{
  width: 500px;
  margin: auto;
  list-style: none;
}

.bookImg{
  margin: auto;
  position: relative;
  width: 130px;
}

.title {
  font-family: GillSans,Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;
  float: right;
}
