<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parallel Books</title>
    <style media="screen" src="../assets/css/bootstrap.min.css">
    </style>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/signin.css" rel="stylesheet">
  </head>
  <body>
    <header class="page-header">

      <img alt="logo" src="../assets/images/logo.png" height="25px" width="25px" style="float:left; margin-left:25px;">
      <h1  style="float:right; margin-right:25px; ">Parallel Books<h1>
      <br/>
    </header>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="username" style="margin-bottom:5px" class="form-control" placeholder="Username" required autofocus>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>


    <script type="text/javascript" src="../assets/js/jquery.min.js">
    </script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js">
    </script>
  </body>


</html>
